@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic&subset=latin,latin-ext);

body {
	background: #1a1a1a;
	color: #ccc;
	font-family: 'Ubuntu Mono', monospace;
	font-size: 16px;
	padding: 0;
	margin: 0;
}

header {
	background: #111;
	padding: 10px 20px;
	color: #aaa;
	border-bottom: 1px solid #222;
	box-shadow: inset 0px -1px 2px rgba(0, 0, 0, 0.5);
	line-height: 40px;
	
	font-size: 24px;
}

.container {
	margin: 25px;
}

.quote-list {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: justify;
}

.quote-list > li {
	float: left;
	width: 100%;
	box-sizing: border-box;
}

.latest-quotes > li {
	width: 50%;
}

.quote-list > li > .wrapper {
	margin: 25px;
}
.quote-list > li > .wrapper > .inner {
	border: 1px solid #222;
	background: #111;
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
	padding: 25px;
}
.quote-list > li > .wrapper > .info > .votes {
	float: right;
}

.quote-list > li > .wrapper > .info {
	padding: 0 25px 10px 25px;
	color: #777;
}

header div {
	color: #fff;
}


.vote-down {
	margin-right: 5px;
}

.vote-up {
	margin-left: 5px;
}

.vote-link {
	color: #ccc;
	text-decoration: none;
}

header ul {
	display: inline-block;
	margin: 0 0 0 10px;
	padding: 0;
	line-height: 0.5;
	top: -2px;
	position: relative;
}

header ul li {
	display: inline-block;
	margin: 0px 10px 0 10px;
}

header ul li a {
	display: block;
	text-decoration: none;
	color: #69f;
	-webkit-transition: text-shadow 0.5s, -webkit-transform 0.5s, color 0.5s;
	-webkit-font-smoothing: antialiased;
	-webkit-transform: scale(0.75);
}

header ul li a:hover {
	text-shadow: 0px 0px 5px #acf;
	color: #fff;
	-webkit-transition: text-shadow 0.5s, -webkit-transform 0.5s, color 0.5s;
	-webkit-transform: scale(1);
}

header ul li.active a {
	color: white;	
}

header .main-title {
	
}

.split {
	width: 50%;
	float: left;
}

h1 {
	font-size: 20px;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.invisible {
	visibility: hidden;
}

.pagination {
	text-align: center;
}

.pagination a {
	color: #aaa;
	text-decoration: none;
	margin: 0 25px;
	display: inline-block;
}

.pagination span {
	margin: 0 25px;
}

.pagination a:hover {
	color: #fff;
}