extends layout

block content
	ul(class='latest-quotes quote-list')
		each quote in quotes
			li
				div(class="inner", style="border-color: " + quoteBorderColor(quote.quote) + ";")!= formatQuote(quote.quote)