extends layout

block content
	ul.latest-quotes.quote-list
	
		each quote in quotes
			li
				div.wrapper
					div.info
						div.votes
							a.vote-down.vote-link(href="#", data-id=quote.id).
								-
								
							= (quote.votes_up - quote.votes_down)

							a.vote-up.vote-link(href="#", data-id=quote.id).
								+

							
						= dateFormat(quote.createdAt, 'yyyy.mm.dd')	
						
					div.inner(style="border-color: " + quoteBorderColor(quote.quote) + ";")
						!= formatQuote(quote.quote)