<% include header %>

<% include pagination %>

<ul class="latest-quotes quote-list">
	<% quotes.forEach(function (quote) { %>
		<li>
			<% include quote %>
		</li>
	<% }); %>
</ul>

<% include pagination %>

<% include footer %>